name: Terraform + Kubernetes CI

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Docker
      uses: docker/setup-buildx-action@v3

    - name: Install kind
      run: |
        curl -Lo kind https://kind.sigs.k8s.io/dl/v0.31.0/kind-linux-amd64
        chmod +x kind
        sudo mv kind /usr/local/bin/kind

    - name: Create Kubernetes cluster
      run: |
        kind create cluster
        kubectl cluster-info

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -auto-approve

    - name: Wait for MySQL
      run: |
        kubectl wait --for=condition=ready pod -l app=mysql --timeout=120s

    - name: Validate MySQL
      run: |
        MYSQL_POD=$(kubectl get pods -l app=mysql -o jsonpath="{.items[0].metadata.name}")
        kubectl exec $MYSQL_POD -- mysql -uroot -ppassword -e "SELECT 1;"

    - name: Terraform Destroy
      if: always()
      run: terraform destroy -auto-approve
